<h1>DashBoards</h1>
 <%= link_to "create flat", new_flat_path, class: "btn btn-primary" if current_user && current_user.can_receive_payment? %>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= render "flats/form" %>
    </div>
    <div class="col-sm-6">
     <% @flats.each do |f| %>
      <p><%= f.title%>, <%= f.price%> nzd/week <span><%= f.status %></span></p>
     <% end%>
    </div>
  </div>
</div>
