<h1 class="text-center">DashBoards</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "Advertise a new flat", new_flat_path, class: "btn btn-success"  %>
      <%= link_to "Profile settings", edit_user_path(current_user), class: "btn btn-success"  %>
      <%= link_to "devise registration", edit_user_registration_path()  %>
    </div>
    <div class="col-sm-6">
     <% @flats.each do |f| %>
       <h1><%= f.title %> <%= link_to "Manage my property", flat_path(f), class: "btn btn-primary"   %></h1>
     <% end%>
    </div>
  </div>
</div>


