<h1>Flats#show</h1>
<p>Find me in app/views/flats/show.html.erb</p>

<h1><%= @flat.title %></h1>
<p>Amount: <%= humanized_money_with_symbol(@flat.price) %></p>


<%= form_tag orders_path do %>
  <%= hidden_field_tag 'flat_id', @flat.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
<ul>
  <% @flat.rooms.each do |r| %>
    <li><%= r.title %></li>
  <% end %>
</ul>

<%= form_with model: current_user, local: true, url: create_rent_flat_url, method: :post, html: { id: "payment-form", class: "stripe-form" }, data: { stripe_key: @flat.user.publishable_key }  do |form| %>
  <div>
    <label for="card-element" class="label">
      Credit or debit card
    </label>

    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert" class="text-sm text-red-400"></div>
  </div>

  <input type="hidden" name="plan" value="<%= params[:plan] %>">
  <input type="hidden" name="project" value="<%= params[:project] %>">

  <button>Back <%= number_to_currency(params[:amount]) %> /mo toward <em><%= @flat.title %></em></button>
<% end %>



<%= form_with model: current_user, local: true, url: create_plan_flat_url, method: :post, html: { id: "plan", class: "stripe-form" }  do |form| %>
  <button>o toward <em><%= @flat.title %></em></button>
<% end %>
