<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= @flat.title %>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= link_to "edit flat", edit_flat_path(@flat), class: "btn btn-success" %>
          <%= link_to "add Price", new_flat_price_path(@flat) , class: "btn btn-success" %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus fugit illum ipsum laboriosam neque quasi, rerum? Deserunt harum inventore quia quidem vero. Cumque hic, illum magnam odio qui sunt totam!</p>
        </div>
        <div class="col-sm-4">
          <h1>Status <small><span class="badge badge-primary"><%= @flat.status %></span></small></h1>
          <% @flat.pricing.map do |p| %>
            <h2><%= p.price %>/<%= p.recurring %> <%= link_to "edit price", edit_flat_price_path(@flat, p), class: "btn btn-success" %></h2>
          <% end %>
        </div>
      </div>
      <%#= button_to "delete", pricing_destroy_flat_path( f.id, p.id), method: :delete %>
      <%# end %>
    </div>
  </div>
</div>




<p>Amount: <%= humanized_money_with_symbol(@flat.price) %></p>


<%= form_tag orders_path do %>
  <%= hidden_field_tag 'flat_id', @flat.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
<ul>
  <% @flat.rooms.each do |r| %>
    <li><%= r.title %></li>
  <% end %>
</ul>

<%= form_with model: current_user, local: true, url: create_rent_flat_url, method: :post, html: { id: "payment-form", class: "stripe-form" }, data: { stripe_key: @flat.user.publishable_key }  do |form| %>
  <div>
    <label for="card-element" class="label">
      Credit or debit card
    </label>

    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert" class="text-sm text-red-400"></div>
  </div>

  <input type="hidden" name="plan" value="<%= params[:plan] %>">
  <input type="hidden" name="project" value="<%= params[:project] %>">

  <button>Back <%= number_to_currency(params[:amount]) %> /mo toward <em><%= @flat.title %></em></button>
<% end %>



<%= form_with model: current_user, local: true, url: create_plan_flat_url, method: :post, html: { id: "plan", class: "stripe-form" }  do |form| %>
  <button>o toward <em><%= @flat.title %></em></button>
<% end %>
