
  <%= simple_form_for @account, url: upload_id_stripe_account_path, html: { method: "post" }   do |f| %>
    <%= f.input :identity_document, as: :file %>
    <%= f.submit :submit %>
  <% end %>
  <% if @account.identity_document.attached? %>
    <%= image_tag @account.identity_document , height: 300, width: 400 %>
    <%= link_to "download", rails_blob_path(@account.identity_document, disposition: "attachment") %>
  <% else %>
    <p>No document</p>
  <% end %>
  <br>
<br>





<button id="verify-button">Verify</button>

<script type="text/javascript">
    // Set your publishable key: remember to change this to your live publishable key in production
    // See your keys here: https://dashboard.stripe.com/apikeys
    var stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
    const csrfToken = document.querySelector("[name='csrf-token']")

    var verifyButton = document.getElementById('verify-button');

    var data = {
        user_id: <%= @account.user.id  %>
    }

    verifyButton.addEventListener('click', async (e) => {
        e.preventDefault();
        fetch('/stripe_documents/stripe_documents/admin_upload_document', {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                        "X-CSRF-Token": csrfToken,
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    body: JSON.stringify(data)
        })
            .then(function(response) {
                console.log(response)
                return response.json();
            })
            .then(function(session) {
                // Show the verification modal.
                console.log(session)
                return stripe.verifyIdentity(session.client_secret);
            })
            .then(function(result) {
                console.log("result",result )
                // If `verifyIdentity` fails, you should display the error message
                // using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                } else {

                    //window.location.href = 'submitted.html';
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
       // const {client_secret} = await fetch('/stripe_documents/stripe_documents/admin_upload_document', {
       //     credentials: 'same-origin',
       //     method: 'POST' ,
       //     headers: {
       //         "X-CSRF-Token": csrfToken,
       //         'X-Requested-With': 'XMLHttpRequest',
       //         'Content-Type': 'application/json',
       //         'Accept': 'application/json'
       //     },
       //     body: JSON.stringify(data)
       //
       // }).then( r => r.json() );
       //
       //  console.log("step 2" , client_secret)
       // const rep = await stripe.verifyIdentity(client_secret)
       //  console.log(rep)
       //
       //  if( rep ){
       //      console.log("problem")
       //  }else{
       //      console.log("check stripe profile")
       //  }

    });

</script>

